div.relative {
  position: relative;
  background-color: lightgrey;
  width: 1000px;
  border: 3px solid black;
  padding: 25px;
  margin: 50px;
  height: 500px;
  display:inline-block;
} 

.absolute {
  
  top: 20px;
  padding:10px  ;
  text-align:center;
  left:400px;
  
}
.absolut {

  top: 20px;
  padding:10px  ;
  text-align:center;
  left:400px;
}

.absolu {
 
  top: 20px;
  padding:10px  ;
  text-align:center;
  left:400px;
}


h1
{
 text-align:center;
}

@media screen and (max-width: 767px) {
  div.relative {
    width: 80%;
    font-size:17px;
   
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
div.relative {
 
  width: 800px;
  font-size:23px;
  
} 
}
@media screen and (min-width: 992px) {
  div.relative {
    width:1000px;
    font-size:23px;
  }
}
